* {
  font-family: sans-serif;
}
body {
  top: 0;
  margin: 0;
}

/* start of Header */

#Header {
  width: 100%;
  position: relative;
}
#menu {
  margin: auto 10px auto 80px;
  justify-content: flex-end;
}
#nav-menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: black;
  opacity: 1;
  position: fixed;
  display: flex;
  font-size: 19px;
}
#fa-bar {
  margin: 30px 0 0 40px;
  display: none;
}
#logo {
  margin: 10px 80px 0 30px;
  width: auto;
  height: 60px;
}
.menu-tab {
  margin: 40px 50px;
  color: white;
}
.menu-tab a {
  text-decoration: none;
  color: white;
}
.inscri {
  width: 140px;
  height: 30px;
  margin: 25px 0 0 0px;
  padding: 15px;
  background-color: #038dfe;
  color: white;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-align: center;
  border-radius: 250px;
  box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
}
#talk {
  width: 100%;
  height: 440px;
  background-image: url(img/img_profil.png);
  background-position-x: 50%;
  background-position-y: 40%;
  background-size: cover;
  color: white;
}
#talk h1 {
  padding: 150px 0 10px 30px;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.08em;
}
#talk h2 {
  margin-top: 25px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.08em;
}
#talk div {
  display: flex;
  padding-left: 35px;
}
#insc {
  margin-right: 5px;
  padding: 1rem 2.5rem;
  border: 3px solid white;
  border-radius: 10rem;
}
#dec {
  padding: 1rem 2.5rem;
  background-color: #038dfe;
  border-radius: 10rem;
  line-height: 1.5;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* drop boutton start */

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  align-items: center;
}

.dropdown-content a:hover {
  color: #038dfe;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* end of drop boutton */
@media (max-width: 1250px) {
  #menu {
    display: none;
  }
  #nav-menu {
    width: 100%;
  }
  #fa-bar {
    display: block !important;
  }
  .menu-tab,
  .inscri {
    display: none;
  }
  #logo {
    margin: auto;
    padding: auto;
  }
  #talk {
    width: 100%;
    height: 500px;
  }
  #talk h1 {
    padding-top: 250px;
    font-size: 30px;
    margin-bottom: 0;
  }
  #talk h2 {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  #talk div {
    flex-direction: column;
    padding-top: 32px;
    padding-left: 0px;
  }
  #insc {
    text-align: center;
    padding: auto;
    margin: 0px auto 20px auto;
  }
  #dec {
    margin: auto;
    width: max-content;
    padding: auto;
  }
}
/* end of Header */
#main {
  width: 85%;
  margin: 30px auto;
  border: 1px black solid;
  padding-bottom: 20px;
}
#main-text {
  text-align: center;
}
#main-text h1 {
  font-size: 42px;
}
#search {
  width: 260px;
  height: 70px;
  border: 1px solid black;
  border-radius: 200px;
  margin: 20px;
  padding: 10px;
}
#users {
  display: flex;
  width: 98%;
  margin: auto;
}
.candidats {
  border: 2px solid #008aff;
  width: 500px;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pic {
  margin: 20px auto;
  height: 130px;
  border-radius: 50%;
}
.name {
  margin: 10px;
  font-size: 30px;
  color: #008aff;
  text-align: center;
}
.niveau {
  margin: 10px;
  font-size: 20px;
  color: #008aff;
  text-align: center;
}
.competence {
  border: 1px #008afa;
  display: flex;
  margin: auto;
}
.compet {
  color: white;
  background-color: #678ef5;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.user-footer {
  width: 100%;
  height: 200px;
  background-color: #40a7f9;
  margin: auto;
}
.trophé {
  margin: auto;
  width: 70%;
  height: 70px;
  display: flex;
}
.logo-trophé {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px auto;
}
.Brief {
  font-size: 20px;
  color: white;
  text-align: center;
}
.Brief-récent {
  margin: auto;
  width: 80%;
  height: 75px;
  background-color: white;
}
.Brief-num {
  text-align: end;
  font-size: 30px;
  margin: 6px;
  padding-top: 20px;
}
@media (max-width: 1250px) {
  tr {
    display: flex;
    flex-direction: column;
  }
  #main {
    border: none;
  }
  #users {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .candidats {
    margin: 0 auto 20px;
    width: auto;
  }
  .compet {
    width: auto;
    height: 30px;
  }
}
/* start of Footer */
.footer {
  background-color: black;
  width: 100%;
  height: 60px;
  margin-top: 60px;
}

.table4 {
  color: #666666;
  text-align: right;
  width: 100%;
  letter-spacing: 0.08em;
}

.copyright {
  margin-right: -50px;
}
.support {
  color: rgb(41, 122, 230);
}
.contact {
  float: left;
}
.res1 {
  float: right;
  padding-right: 20px;
  padding-top: 8px;
}
@media (max-width: 1250px) {
  .footer {
    height: 80px;
    margin-top: 20px;
  }
  .contact {
    float: none;
    width: 183px;
    margin: 0px auto;
  }
  .copyright {
    width: 141px;
    margin: 0px auto;
  }
  .last-one {
    flex-direction: column;
    justify-content: center;
  }
  .last-one h1 {
    margin: 10px auto;
  }
  .inscri-2 {
    margin: auto auto;
  }
  .reseaux {
    margin: 0px auto;
  }
}
@media (min-width: 360px) {
  #talk h1 {
    padding-top: 230px;
  }
  #talk div {
    padding-top: 10px;
  }
  #insc {
    margin-bottom: 15px;
  }
  .candidats {
    margin: 0 auto 20px;
    width: auto;
    height: auto;
  }
  .pic {
    margin: 1px auto;
    height: 110px;
    border-radius: 50%;
  }
  .name {
    margin: 5px auto 0px;
    font-size: 24px;
    font-weight: bold;
  }
  .niveau {
    margin: 10px auto 0px;
    font-size: 20px;
  }
  .user-footer {
    height: 160px;
  }
  .trophé {
    width: 65%;
    height: 49px;
  }
  .logo-trophé {
    width: 40px;
    height: 40px;
  }
  .Brief-récent {
    height: 60px;
  }
  .Brief-num {
    font-size: 24px;
  }
  .footer {
    height: 110px;
  }
  .res1 {
    padding-right: 50px;
  }
  .compet {
    overflow: hidden;
  }
}
@media (min-width: 740px) {
  tr {
    flex-direction: row;
  }
  .res1 {
    padding-top: 15px;
  }
  .footer {
    height: 70px;
  }
  .copyright {
    margin: auto;
  }
  .support {
    margin-top: 15px;
  }
  .compet {
    width: auto;
    font-size: 15px;
  }
  .trophé {
    height: 70px;
  }
  .logo-trophé {
    width: 60px;
    height: 60px;
  }
  .name {
    font-size: 30px;
    height: 35px;
  }
  .user-footer {
    height: 170px;
  }
  .Brief-num {
    font-size: 30px;
    padding-top: 15px;
  }
  .niveau {
    margin: 0px auto 5px;
  }
}
